$dark-color: #111;
$light-color: #eee;
$nav-light:#C5CAE9;
$nav-dark: #00CED1;
$gray-color: 	#808080;
$cornflower: #6495ED;

$background_color: #FFFFFF;
$text_color: #212121;
$darkblue: #303F9F;
$lightblue: #99ccff;

$red: #BA0000;
$darkred: #6B0000;