@import '../../../styles/colors';

.nav-container {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px;
  align-items: center;
  box-shadow: 0.5px 0.5px 10px (#d3d3d3);

  .form-div {
    align-items: center;
    textarea {
      box-shadow: 0.5px 0.5px 10px (#d3d3d3);
    }
  }

  .btn {
    font-size: 10px;
    .outline {
      background: none;
      padding: 12px 22px;
    }
  }
  .btn-primary.outline {
    border: 2px solid $darkblue;
    color: $darkblue;
    &:hover, &:focus, &:active, .active {
      color: $darkblue;
      border-color: $darkblue;
      box-shadow: none;
    }
  }

  .open > .dropdown-toggle.btn-primary {
    color: $darkblue;
    border-color: $darkblue;
  }
}