@import '../../../styles/colors';

#display-messages {
  margin: auto;
  width: 80%;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  max-height: 550px;
  padding: 25px 100px;
  margin: auto;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  border-radius: 5px;

  .message-row {
    margin: 10px 10px;
    min-width: 300px;
    background-color: $lightblue;
    width: 60%;
    border-radius: 10px;
  }

  .message-text {
    padding: 4px;
    margin: 4px 10px;
  }

  .delete {
    color: $red;
    text-align: right;
    padding: 2px 2px 8px 2px;
    &:hover {
      color: $darkred;
    }
  }
  .timestamp {
    text-align: right;
    font-size: 0.8em;
  }
}

  .display-img {
    height: 50px;
    width: auto;
    border-radius: 50%;
  }

.row {
  margin-left: 0;
  margin-right: 0;
  padding: 1px 0;
}